.container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.title {
  color: purple;
  font-size: 500;
  background-color: violet;
}
.input-wrapper {
  display: flex;
  margin: 1rem 0;
  gap: 0.5rem;
}
.text {
  padding: 0 0.5rem;

  &:focus {
    outline: none;
  }
}
.formbutton {
  margin-top: 1rem;
  padding: 0.5rem 1rem;
  text-align: center;
  font-size: medium;
  font-weight: 500;
  color: purple;
  background-color: violet;
  border: none;

  &:hover {
    cursor: pointer;
  }
}

.texterror {
  color: red;
}
