.step-progress-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.steps {
  display: flex;
  align-items: center;
  padding: 8px;
  border-radius: 8px;
}
.step {
  padding: 20px;
  background-color: rgb(128, 128, 225);
  border-radius: 8px;
}
.step.active {
  background-color: green;
  color: white;
}
.steps-button {
  cursor: pointer;
  padding: 3px 15px;
  margin-right: 10px;
  background-color: red;
  outline: none;
  border: 1px solid;
}
.steps-button:disabled {
  cursor: not-allowed;
  color: white;
  opacity: 0.3;
}
